@media screen and (max-width: 1200px){
.navigation{
    flex-direction: column;
    margin-bottom: 23px;
}
.nav-left{
    flex-direction: column;
    text-align: center;
}
.content-right{
    display: none;
}
.article{
    flex-direction: column;
}
.article img{
    text-align: center;
}
.year-box{
   
    top: 0px;
   font-size: 11px;
   display: flex;
  }
.year-box div{
    padding: 0px;
    margin: 0;
}
.article img{
    width: 60vw;
}
.form-input{
    width: 50%;
}
.form-box input, textarea{
    width: 66vw;
    }
.social{
    padding: 0px;
}
.post-img{
    height: auto;
}
.adjust-year{
    position: static;
    height: auto;
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
}
